@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
  height: 0px;
}

body {
  font-family: 'Figtree', sans-serif;
}

::selection {
  background: red;
  color:white;
}

@layer base {
  html {
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
  }
}